<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="Language for specifying preference fields and preference pages"
            extensions="pfsp"
            icon="icons/prefspecs_file.gif"
            language="prefspecs">
      </language>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.imp.prefspecs.tokenColorer.PrefspecsTokenColorer"
            language="prefspecs">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="org.eclipse.imp.prefspecs.foldingUpdater.PrefspecsFoldingUpdater"
            language="prefspecs">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="org.eclipse.imp.prefspecs.referenceResolvers.PrefspecsReferenceResolver"
            language="prefspecs">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="org.eclipse.imp.prefspecs.contentProposer.PrefspecsContentProposer"
            language="prefspecs">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.hoverHelper">
      <hoverHelper
            class="org.eclipse.imp.prefspecs.hoverHelper.PrefspecsHoverHelper"
            language="prefspecs">
      </hoverHelper>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.eclipse.imp.prefspecs.documentationProvider.PrefspecsDocumentationProvider"
            language="prefspecs">
      </docProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.eclipse.imp.prefspecs.parser.PrefspecsParseController"
            language="prefspecs">
      </parser>
   </extension>
   <extension
         id="problem"
         name="prefspecs Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="false"
            nameFilter="*"
            id="org.eclipse.imp.prefspecs.projectContextMenu">
         <action
               label="Enable PrefSpecs Builder"
               menubarPath="org.eclipse.imp.metatooling.projectContextMenu/group1"
               tooltip="Enable the preferences specifcation builder for this project"
               class="org.eclipse.imp.prefspecs.actions.EnableNature"
               icon="icons/builderEnable.gif"
               id="org.eclipse.imp.prefspecs.actions.enableNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="builder"
         name="Preferences Specification File builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.imp.prefspecs.builders.PrefspecsBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="nature"
         name="prefspecs Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="org.eclipse.imp.prefspecs.builder">
      </builder>
      <runtime>
         <run
               class="org.eclipse.imp.prefspecs.builders.PrefspecsNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="org.eclipse.imp.prefspecs.treeModelBuilder.PrefspecsLabelProvider"
            language="prefspecs">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="org.eclipse.imp.prefspecs.treeModelBuilder.PrefspecsTreeModelBuilder"
            language="prefspecs">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            category="IMP"
            file="docs/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.navigationTargetFinder">
      <navigationTargetFinder
            class="org.eclipse.imp.prefspecs.navigation.NavigationTargetFinder"
            language="prefspecs">
      </navigationTargetFinder>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            class="org.eclipse.imp.compare.ModelStructureCreator"
            extensions="pfsp"
            id="org.eclipse.imp.prefspecs.structureCreator">
      </structureCreator>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.compareNodeIdentifier">
         <compareNodeIdentifier
             language="prefspecs"
             class="org.eclipse.imp.prefspecs.compare.CompareNodeIdentifier"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.entityNameLocator">
         <entityNameLocator
             language="prefspecs"
             class="org.eclipse.imp.prefspecs.referenceResolvers.EntityNameLocator"/>
   </extension>
</plugin>
